<!-- to create html for our template -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <!-- binding to the template from the productlist component using interpolation -->
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- there is a difference between of and in here -->
                    <!-- using an ngFor we repeat this table rows and columns for each product  in the list of products -->
                    <!-- we used for...of instead of for..in as we need to iterabe over the object themselves not their properties -->
                    <tr *ngFor='let product of products'>
                        <td>{{ product.address }}</td>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name | convertToSpaces: '-'}}</td>
                        <td>{{ product.salary | currency:'USD':true:'1.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>